.checkout-container {
    margin: 1rem 0;
    // background-color: red;
    .checkout-heading {
        text-align: center;
        font-size: 2rem;
        font-family: cursive;
        margin: 0 0 .5rem 0;
        @media (max-width: 420px) {
            font-size: 1.5rem;
        }
    }
    .checkout-paper {
        padding: .5rem 1rem;
        // width: 800px;
        // max-width: 100%;
    }
}