.summary-heading {
    text-align: center;
}

.summary-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 1rem 0;
    .btn {
        background-color: #818CF8;
        padding: .5rem 1.1rem;
        border-radius: 10px;
        font-weight: 400;
        font-size: 1em;
        &:hover {
            cursor: pointer;
        }
    }
}